@tailwind base;
@tailwind components;
@tailwind utilities;


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  color: #3C3C3C;
  /* background-color: #F9F6F0; */
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: 'Playfair Display', serif;
  font-weight: 600;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}